<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalble=no">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" href="https://www.facebook.com/photo.php?fbid=1640916549463217&set=pb.100006346630990.-2207520000.1526117147.&type=3&theater">
	<title>Document Admins Traffic Applicattion</title>
</head>
<body style="width: 100%">
	<h1>DNS = Domain Name System</h1>
	<hr>
	<h2># trafficapplicattion</h2>
	<h3>http://DNS/infoapp/api? -> get Icon app</h3>
	<h4>query string 1 -> platform = ios/android</h4>
	<h4>query string 2 -> id = 873069066/com.abc.xyz</h4>
	<h4>ex: GET -> http://example.com/infoapp/api?platform=ios&id=873069066</h4>
	<hr>
	<h2># get IP conversion lead with prevLink</h2>
	<h3>http://DNS/list/conversion?</h3>
	<h4>query string -> hour = 1 -> hour is Number</h4>
	<h4>ex: GET -> http://example.com/list/conversion?hour=1 -> get all ip of conversion lead at 1h with prevLink</h4>
	<hr>
	<h2># get IP conversion</h2>
	<h3>http://DNS/ipcvr/api?</h3>
	<h4>query string -> hour = 1 -> hour is Number</h4>
	<h4>ex: GET -> http://example.com/ipcvr/api?hour=1 -> get all ip of conversion lead at 1h</h4>
	<hr>
	<hr>
	<h2># Add API Hasoffer</h2>
	<h3>Url:</h3>
	<h4>*** url of app : http://tracking.adattract.com/aff_c?offer_id=1234&aff_id=2523</h4>
	<h4>***    =>   ex : http://tracking.adattract.com/aff_c?offer_id={id}&aff_id=2523</h4>
	<hr>
	<h2># Add API Appflood</h2>
	<h3>Example:</h3>
	<img style="width: 100%" src="./assets/images/example/appflood.png" alt="Example Appflood">
	<img style="width: 100%" src="./assets/images/example/appfloodValues.png" alt="Example Appflood">
	<h2># Add API Orangear</h2>
	<h3>Example:</h3>
</body>
</html>