<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalble=no">
	<meta name="description" content="Rocket traffic Rockettraffic affiliate offer">
  	<meta name="keywords" content="Rocket traffic Rockettraffic affiliate offer">
  	<meta name="author" content="Rocket traffic Rockettraffic affiliate offer">
	<title>Rocket traffic | Registration</title>
	<link rel="shorcut icon" type="image/x-icon" href="./images/logo/rok.png">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel='stylesheet' href='/stylesheets/register.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../javascripts/goToTop.js"></script>
</head>
<body>
	<header class="header">
        <li class="header-logo">
            <a href="/" class="header-logo-item header-logo-item-320px"></a>
        </li>
    </header>
	<div class="body-page">
		<%-form%>
	</div>
	<footer>
		© 2018 Rocket Traffic | All Rights Reserved
	</footer>
</body>
</html>