<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalble=no">
    <meta name="description" content="Rocket traffic Rockettraffic affiliate offer">
    <meta name="keywords" content="Rocket traffic Rockettraffic affiliate offer">
    <meta name="author" content="Rocket traffic Rockettraffic affiliate offer">
    <title>Rocket traffic | Data Driven Mobile Advertising</title>
    <link rel="shorcut icon" type="image/x-icon" href="./images/logo/rok.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/styleLogin.css' />
    <link rel="stylesheets" href="/prefix/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> 
    <script src="./javascripts/slider.js"></script>
    <script src="./javascripts/buttonSocial.js"></script>
    <script src="./javascripts/goToTop.js"></script>
    <script src="./javascripts/formLogin.js"></script>
  </head>
  <body>
    <header class="header">
        <li class="header-logo">
            <a class="header-logo-item header-logo-item-320px"></a>
        </li>
        <li class="header-720px">
            <ul class="header-720px-container">
            <div class="header-720px-container-bar">
                <div class="header-720px-container-bar-element">
                    <li class="header-720px-container-bar-element-text">
                        <a href="#">Advertiser</a>
                    </li>
                    <li class="header-720px-container-bar-element-text">
                        <a href="#">Publisher</a>
                    </li>
                    <li class="header-720px-container-bar-element-text">
                        <a class="header-720px-container-bar-element-text-sub" href="#">Technology</a>
                        <ul class="header-720px-container-bar-element-text-sub-menu">
                            <li class="header-720px-container-bar-element-text-sub-menu-list">
                                <a class="header-720px-container-bar-element-text-sub-menu-list-item" href="#">Lorem ipsum</a>
                            </li>
                            <li class="header-720px-container-bar-element-text-sub-menu-list">
                                <a class="header-720px-container-bar-element-text-sub-menu-list-item" href="#">Lorem ipsum</a>
                            </li>
                            <li class="header-720px-container-bar-element-text-sub-menu-list">
                                <a class="header-720px-container-bar-element-text-sub-menu-list-item" href="#">Lorem ipsum</a>
                            </li>
                            <li class="header-720px-container-bar-element-text-sub-menu-list">
                                <a class="header-720px-container-bar-element-text-sub-menu-list-item" href="#">Lorem ipsum</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-720px-container-bar-element-text">
                        <a href="#">About us</a>
                    </li>
                    <li class="header-720px-container-bar-element-text">
                        <a href="#">Blog</a>
                    </li>
                </div>
            </div>
        </ul>
        </li>
        <li class="icon">
            <a href="#">En</a>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </li>
        <li class="login" id="bt-show-log">
            <a class="txt-log">Login</a>
        </li>
        <ul class="header-container">
            <div class="header-container-bar">
                <a class="header-container-bar-menu" href="#">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <div class="header-container-bar-element">
                    <li class="header-container-bar-element-text">
                        <a href="#">Advertiser</a>
                    </li>
                    <li class="header-container-bar-element-text">
                        <a href="#">Publisher</a>
                    </li>
                    <li class="header-container-bar-element-text">
                        <a href="#">Technology</a>
                    </li>
                    <li class="header-container-bar-element-text">
                        <a href="#">About us</a>
                    </li>
                    <li class="header-container-bar-element-text">
                        <a href="#">Blog</a>
                    </li>
                </div>
            </div>
        </ul>
    </header>
    <div class="Slider">
        <ul class="next fa" id="next">
            
        </ul>
        <ul class="Slider-content" id="slideShow" style="transition: 1s;">
            <!-- <ul class="Slider-content-title">
                <h1 id="slider-title">Lorem ipsum dolor sit amet.</h1>
                <h2 id="slider-text">. Repellat, pariatur. Totam doloribus architecto itaque, ducimus at perferendis</h2>
                <a id="sider-select1" href="#">advertiser</a>
                <a id="sider-select2" href="#">publisher</a>
            </ul> -->
            <ul class="Slider-content-picker" id="picker">
            </ul>
        </ul>
        <ul class="prev fa" id="prev">
            
        </ul>
    </div>
    <div class="slider-logo">
        <ul class="slider-logo-show">
            <img src="./images/logo-2/192218featured-client-paytm.png" alt="paytm">
        </ul>
        <ul class="slider-logo-show">
            <img src="./images/logo-2/529713featured-client-baidu.png" alt="baidu">
        </ul>
        <ul class="slider-logo-show">
            <img src="./images/logo-2/608015featured-client-elex.png" alt="elex">
        </ul>
        <ul class="slider-logo-show">
            <img src="./images/logo-2/667448featured-client-internetq.png" alt="internetq">
        </ul>
        <ul class="slider-logo-show">
            <img src="./images/logo-2/442120featured-client-changyou.png" alt="changyou">
        </ul>
        <ul class="slider-logo-show">
            <img src="./images/logo-2/101239featured-client-gameloft.png" alt=  gameloft"">
        </ul>
        <ul class="slider-logo-show">
            <img src="./images/logo-2/519285PropellerAds.jpg" alt="PropellerAds">
        </ul>
        <ul class="slider-logo-show">
            <img src="./images/logo-2/519305featured-client-igg.png" alt="igg">
        </ul>
        <ul class="slider-logo-show">
            <img src="./images/logo-2/513725featured-client-ucbrowser.png" alt="ucbrowser">
        </ul>
        <ul class="slider-logo-show">
            <img src="./images/logo-2/563194featured-client-quikr.png" alt="quikr">
        </ul>
    </div>
    <div class="navigation">
        <div class="navigation-content">
            <img src="./images/navigation/icon-ad-impressions.png" alt="">
            <h1>200+</h1>
            <p>Countries and Regions</p>
        </div>
        <div class="navigation-content">
            <img src="./images/navigation/icon-app-installs.png" alt="">
            <h1>90 million+</h1>
            <p>Monthly Activations</p>
        </div>
        <div class="navigation-content">
            <img src="./images/navigation/icon-active-users.png" alt="">
            <h1>10,000+</h1>
            <p class="last">Traffic Sources</p>
        </div>
    </div>
    <div class="Audiences">
        <h1 class="Audiences-title">
            Grow Your Mobile Audiences
        </h1>
        <p class="Audiences-text">
            We focus on results-oriented mobile advertising. Leveraging the in-depth analysis of engagement metrics we acquire active users globally with CPI, CPA and CPS models
        </p>
    </div>  
    <div class="soc">
        <div class="social">
            <ul class="social-block">
                <div class="social-block-btn" id="native">
                </div>
            </ul>
            <ul class="social-block">
                <div class="social-block-btn" id="performance">
                </div>
            </ul>
            <ul class="social-block">
                <div class="social-block-btn" id="socialsearrch">
                </div>
            </ul>
            <ul class="social-block">
                <div class="social-block-btn" id="mediabuying">
                </div>
            </ul>
        </div>
        <div class="soc-introduce">
            <div class="soc-introduce-ele">
                <h3 class="soc-introduce-ele-title">Rocket traffic’s experienced media buying team delivers scale at fixed CPI rates and no setup fees</h3>
                <ul class="soc-introduce-ele-content">
                    <li class="soc-introduce-ele-content-list">Global reach with direct advertisers</li>
                    <li class="soc-introduce-ele-content-list">Intelligent Mobile Monetization - API/SDK Supported</li>
                    <li class="soc-introduce-ele-content-list soc-introduce-ele-content-last">Designed to blend seamlessly within the app's design & layout, Rocket traffic Native ads deliver a contextual, non-intrusive ad experience on mobile.</li>
                    <a class="soc-introduce-ele-content-btn" href="mailto:Mezii@rockettraffic.org">Get Touch</a>
                </ul>
            </div>
            <div class="soc-introduce-ele">
                <h3 class="soc-introduce-ele-title">Rocket traffic’s advertising network covers the globe, growing your active user base in each of your target markets</h3>
                <ul class="soc-introduce-ele-content">  
                    <li class="soc-introduce-ele-content-list">International and local publishers and developers with mobile-web and direct in-app traffic</li>
                    <li class="soc-introduce-ele-content-list">Matching campaign needs with the right sources to assure efficient campaign execution</li>
                    <li class="soc-introduce-ele-content-list soc-introduce-ele-content-last">User engagement optimization through real-time campaign performance analysis.</li>
                    <a class="soc-introduce-ele-content-btn" href="mailto:Mezii@rockettraffic.org">Get Touch</a>
                </ul>
            </div>
            <div class="soc-introduce-ele">
                <h3 class="soc-introduce-ele-title">Rocket traffic is your launchpad to Facebook, Google AdWords, VK, Yandex and other media platforms</h3>
                <ul class="soc-introduce-ele-content">  
                    <li class="soc-introduce-ele-content-list">Intelligent and automated campaign launch tool ensuring effective executions and scale</li>
                    <li class="soc-introduce-ele-content-list">Proactively optimizing campaign yield by continuously testing hundreds of ad permutations</li>
                    <li class="soc-introduce-ele-content-list soc-introduce-ele-content-last">Re-engagement of previously acquired users to maximize LTV</li>
                    <a class="soc-introduce-ele-content-btn" href="mailto:Mezii@rockettraffic.org">Get Touch</a>
                </ul>
            </div>
            <div class="soc-introduce-ele">
                <h3 class="soc-introduce-ele-title">Rocket traffic’s experienced media buying team delivers scale at fixed CPI rates and no setup fees</h3>
                <ul class="soc-introduce-ele-content">  
                    <li class="soc-introduce-ele-content-list">Tailored media planning and campaign execution based on client targets and quality metrics</li>
                    <li class="soc-introduce-ele-content-list">Targeted inventory on leading global and local mobile applications</li>
                    <li class="soc-introduce-ele-content-list soc-introduce-ele-content-last">Designated team of industry experts serving as your extended media buying arm.</li>
                    <a class="soc-introduce-ele-content-btn" href="mailto:Mezii@rockettraffic.org">Get Touch</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="slectorSilder">
        <div class="slectorSilder-item">
            <img src="./images/selectorSilder/ficon-native.png" alt="ficon-native" class="slectorSilder-item-img">
        </div>
        <div class="slectorSilder-text">
            <span>MONETIZE</span>
            <h4 class="slectorSilder-text-title">
                The world's leading monetization platform for app developers
            </h4>
            <ul class="slectorSilder-text-list">
                <li class="slectorSilder-text-list-item">
                    Global reach with direct advertisers
                </li>
                <li class="slectorSilder-text-list-item">
                    Intelligent Mobile Monetization - API/SDK Supported
                </li>
                <li class="slectorSilder-text-list-item">
                    Designed to blend seamlessly within the app's design & layout, Rocket traffic Native ads deliver a contextual, non-intrusive ad experience on mobile.
                </li>
            </ul>
            <ul class="slectorSilder-text-gettouch">
                <a class="slectorSilder-text-gettouch-item" href="mailto:Mezii@rockettraffic.org">get in touch<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="slectorSilder-item">
            <img src="./images/selectorSilder/ficon-performance.png" alt="ficon-performance" class="slectorSilder-item-img">
        </div>
        <div class="slectorSilder-text">
            <span>Performance</span>
            <h4 class="slectorSilder-text-title">
                Rocket traffic’s advertising network covers the globe, growing your active user base in each of your target markets
            </h4>
            <ul class="slectorSilder-text-list">
                <li class="slectorSilder-text-list-item">
                    International and local publishers and developers with mobile-web and direct in-app traffic
                </li>
                <li class="slectorSilder-text-list-item">
                    Matching campaign needs with the right sources to assure efficient campaign execution
                </li>
                <li class="slectorSilder-text-list-item">
                    User engagement optimization through real-time campaign performance analysis
                </li>
            </ul>
            <ul class="slectorSilder-text-gettouch">
                <a class="slectorSilder-text-gettouch-item" href="mailto:Mezii@rockettraffic.org">get in touch<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="slectorSilder-item">
            <img src="./images/selectorSilder/ficon-socialsearch.png" alt="ficon-socialsearch" class="slectorSilder-item-img">
        </div>
        <div class="slectorSilder-text">
            <span>Social and Search</span>
            <h4 class="slectorSilder-text-title">
                Rocket traffic is your launchpad to Facebook, Google AdWords, VK, Yandex and other media platforms
            </h4>
            <ul class="slectorSilder-text-list">                
                <li class="slectorSilder-text-list-item">
                    Intelligent and automated campaign launch tool ensuring effective executions and scale
                </li>
                <li class="slectorSilder-text-list-item">
                    Proactively optimizing campaign yield by continuously testing hundreds of ad permutations
                </li>
                <li class="slectorSilder-text-list-item">
                    Re-engagement of previously acquired users to maximize LTV
                </li>
            </ul>
            <ul class="slectorSilder-text-gettouch">
                <a class="slectorSilder-text-gettouch-item" href="mailto:Mezii@rockettraffic.org">get in touch<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="slectorSilder-item">
            <img src="./images/selectorSilder/ficon-mediabuying.png" alt="ficon-mediabuying" class="slectorSilder-item-img">
        </div>
        <div class="slectorSilder-text">
            <span>Media Buying</span>
            <h4 class="slectorSilder-text-title">
                Rocket traffic’s experienced media buying team delivers scale at fixed CPI rates and no setup fees
            </h4>
            <ul class="slectorSilder-text-list">
                <li class="slectorSilder-text-list-item">
                    Tailored media planning and campaign execution based on client targets and quality metrics
                </li>
                <li class="slectorSilder-text-list-item">
                    Targeted inventory on leading global and local mobile applications
                </li>
                <li class="slectorSilder-text-list-item">
                    Designated team of industry experts serving as your extended media buying arm
                </li>
            </ul>
            <ul class="slectorSilder-text-gettouch">
                <a class="slectorSilder-text-gettouch-item" href="mailto:Mezii@rockettraffic.org">get in touch
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </ul>
        </div>
    </div>
    <div class="payment">
        <h6 class="payment-title">Certified Partners:</h6>
        <div class="payment-container">
            <img src="./images/payment/partner-Google-Adwords-SMB-Premier.png" alt="Google" class="payment-container-item">
            <img src="./images/payment/partner-FB-Authorized.png" alt="FaceBook" class="payment-container-item">
            <img src="http://en.yeahmobi.com/wp-content/uploads/partner-VK-Authorized.png" alt="VK" class="payment-container-item">
            <img src="./images/payment/partner-myTarget.png" alt="Target" class="payment-container-item">
            <img src="./images/payment/partner-Yandex-Direct.png" alt="Yandex" class="payment-container-item">
            <img src="./images/payment/partner-Twitter-Official.png" alt="Twitter" class="payment-container-item">
            <img src="./images/payment/partner-paypal.png" alt="Paypal" class="payment-container-item">
        </div>
    </div>
    <div class="footer-widgets">
        <div class="footer-widgets-table">
            <div class="footer-widgets-table-container">
                <ul class="footer-widgets-table-container-sub">
                    <h5>16 NOV 19</h5>
                </ul>
                <ul class="footer-widgets-table-container-content">
                    <h6 class="footer-widgets-table-container-content-title">
                        G-STAR 2017
                    </h6>
                    <p class="footer-widgets-table-container-content-text">
                        GLOBAL GAME EXHIBITION G-STAR BEXCO
                    </p>
                </ul>
            </div>
        </div>
        <ul class="footer-widgets-block">
            <h6>PRODUCTS</h6>
            <li class="footer-widgets-block-contents">
                <a href="" class="footer-widgets-block-contents-items">
                    Native Ads
                </a>
            </li>
            <li class="footer-widgets-block-contents">
                <a href="" class="footer-widgets-block-contents-items">
                    Performance Marketing
                </a>
            </li>
            <li class="footer-widgets-block-contents">
                <a href="" class="footer-widgets-block-contents-items">
                    Social and Search
                </a>
            </li>
            <li class="footer-widgets-block-contents">
                <a href="" class="footer-widgets-block-contents-items">
                    Media Buying
                </a>
            </li>
        </ul>
        <ul class="footer-widgets-block">
            <h6>COMPANY</h6>
            <li class="footer-widgets-block-contents">
                <a href="" class="footer-widgets-block-contents-items">
                    Who Are We
                </a>
            </li>
            <li class="footer-widgets-block-contents">
                <a href="" class="footer-widgets-block-contents-items">
                    Rocket traffic Blog
                </a>
            </li>
            <li class="footer-widgets-block-contents">
                <a href="" class="footer-widgets-block-contents-items">
                    Careers
                </a>
            </li>
            <li class="footer-widgets-block-contents">
                <a href="" class="footer-widgets-block-contents-items">
                    Privacy Policy
                </a>
            </li>
        </ul>
        <ul class="footer-widgets-block">
            <h6>STAY IN TOUCH</h6>
            <li class="footer-widgets-block-contents">
                <a href="" class="footer-widgets-block-contents-items">
                    Contact Us
                </a>
            </li>
            <li class="footer-widgets-block-contents">
                <a href="" class="footer-widgets-block-contents-items">
                    Get Started
                </a>
            </li>
            <li class="footer-widgets-block-icons">
                <img src="./images/logo/facebook-logo-in-circular-button-outlined-social-symbol.svg" alt="facebook-logo">
                <a href="" class="footer-widgets-block-icons-items">
                    Facebook
                </a>
            </li>
            <li class="footer-widgets-block-icons">
                <img src="./images/logo/twitter-circular-button.svg" alt="twitter-logo">
                <a href="" class="footer-widgets-block-icons-items">
                    Twitter
                </a>
            </li>
            <li class="footer-widgets-block-icons">
                <img src="./images/logo/social-linkedin-circular-button.svg" alt="linkedin-logo">
                <a href="" class="footer-widgets-block-icons-items">
                    Linkedin
                </a>
            </li>
        </ul>
    </div>
    <div class="fromLogin">
        <div class="formLogin-container">
            <header class="formLogin-container-header">
                <h1 class="formLogin-container-header-clientLog">
                    Client Login
                    <i class="material-icons icon-exit">clear</i>
                </h1>
                <div class="respon-720px">
                    <a href="/signin" class="formLogin-container-header-typeLogin btn-fb-login facebook-bgr"><i class="fa fa-facebook color-white icon-w20"></i><p class="color-white">Login with Facebook</p></a>
                    <a class="formLogin-container-header-typeLogin color-white btn-fb-login account-bgr"><i class="fa fa-user color-white icon-w20"></i><p class="color-white">Login with Account</p></a>
                </div>
            </header>
            <div class="formLogin-container-content">
                <ul class="formLogin-container-content-sub">
                    <h6 class="formLogin-container-content-sub-title">
                        User Aquisition
                    </h6>
                    <ul class="formLogin-container-content-sub-img img-0">
                        
                    </ul>
                    <a class="btn-getLink" href="/advertiser/signup">BECOME AN ADVERTISER</a>
                </ul>
                <ul class="formLogin-container-content-sub">
                    <h6 class="formLogin-container-content-sub-title">
                        Monetization
                    </h6>
                    <ul class="formLogin-container-content-sub-img img-1">
                        
                    </ul>
                    <a class="btn-getLink" href="/monetization/signup">BECOME A PUBLISHER</a>
                </ul>
                <ul class="formLogin-container-content-sub">
                    <h6 class="formLogin-container-content-sub-title">
                        Monetizing via SDK
                    </h6>
                    <ul class="formLogin-container-content-sub-img img-2">
                        
                    </ul>
                    <a class="btn-getLink" href="/sdk-via/signup">BECOME A PUBLISHER</a>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <a class="footer-logo" href="#">
            <img class="footer-logo-img" src="./images/logo/rocket.png" alt="logo">
        </a>
        <p class="copyright">© 2018 Rocket traffic</p>
    </footer>
  </body>
</html>
