<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Hello Test</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<form action="/form-file" method="post" enctype="multipart/form-data">
		<input type="file" name="files"/>
		<input type="submit"/>
	</form>
</body>
</html>